<%- include('../_header.ejs', { title: 'Home' }) %>

<%- include('../_nav.ejs') %>

<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-6">
            <h1 class="text-center">Create Account</h1>
            <form method="POST" action="/sign-up" class="pt-3">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input name="name" type="text"
                        class="form-control <%= typeof errors === 'object' && errors.name ? 'is-invalid' : '' %>"
                        id="name" aria-describedby="nameHelp">
                    <% if (typeof errors === 'object' && errors.name) { %>
                        <div id="name" class="invalid-feedback">
                            <%= errors.name %>
                        </div>
                    <% } %>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input name="email" type="email"
                        class="form-control <%= typeof errors === 'object' && errors.email ? 'is-invalid' : '' %>"
                        id="email" aria-describedby="emailHelp">
                    <% if (typeof errors === 'object' && errors.email) { %>
                        <div id="name" class="invalid-feedback">
                            <%= errors.email %>
                        </div>
                    <% } %>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password"
                        class="form-control <%= typeof errors === 'object' && errors.password ? 'is-invalid' : '' %>"
                        id="password">
                    <% if (typeof errors === 'object' && errors.password) { %>
                        <div id="name" class="invalid-feedback">
                            <%= errors.password %>
                        </div>
                    <% } %>
                </div>
                <div class="mb-3">
                    <label for="password_confirmation" class="form-label">Confirm Password</label>
                    <input name="password_confirmation" type="password"
                        class="form-control <%= typeof errors === 'object' && errors.passwordConfirmation ? 'is-invalid' : '' %>"
                        id="password_confirmation">
                    <% if (typeof errors === 'object' && errors.passwordConfirmation) { %>
                        <div id="name" class="invalid-feedback">
                            <%= errors.passwordConfirmation %>
                        </div>
                    <% } %>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<%- include('../_footer.ejs') %>